<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>HideSender</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Note: No need to enable "Hide Content" on iPhone X</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.xcxiao.hideSender</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.xcxiao.hideSender.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.xcxiao.hideSender</string>
			<key>key</key>
			<string>messageEnabled</string>
			<key>label</key>
			<string>Hide Content</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.xcxiao.hideSender.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.xcxiao.hideSender</string>
			<key>key</key>
			<string>allApps</string>
			<key>label</key>
			<string>Hide All Sender</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.xcxiao.hideSender.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select Apps</string>
			<key>action</key>
			<string>selectEnabledApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.xcxiao.hideSender</string>
			<key>key</key>
			<string>censorText</string>
			<key>label</key>
			<string>Censored Text</string>
			<key>placeholder</key>
			<string>Protected by HideSender</string>
			<key>PostNotification</key>
			<string>com.xcxiao.hideSender.preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>- Original code by dunkston -</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>- iOS 13 support and new features by XCXiao -</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>- Open source with MIT License -</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
